<div class="container-ads">
    <div class="ad">
        <div class="photo-ad"></div>
        <div class="parameters-ad">
            <div class="grid-param">
                    <span id="item-mark" class="parameter-ad">Mark</span>
                    <span id="item-model" class="parameter-ad">Model</span>
                    <span id="item-gen" class="parameter-ad">Generation</span>
                </div>
            <div class="grid-param">
                    <span id="item-engine" class="parameter-ad">Engine</span>
                    <span id="item-naduv" class="parameter-ad">Naduv</span>
                    <span id="item-capacity" class="parameter-ad">Capacity</span>
                </div>
            <div class="grid-param">
                    <span id="item-body" class="parameter-ad">Body</span>
                    <span id="item-mileage" class="parameter-ad">Mileage</span>
                    <span id="item-price" class="parameter-ad">Price</span>
                </div>
        </div>
    </div>
</div>