<div class="container-card">
    <div class="card">
        <div class="card-head">
            <div class="card-title">
                <span>{{ brand }}</span>
                <span>{{ model }}</span>
                <span>{{ generation }}</span>
            </div>
            <div class="card-title">
                <span>{{ price }} ₽</span>
            </div>
        </div>

        <div class="container-info">
            <div class="parameter-info">
                <div class="title-info">
                    <span>Характеристики</span>
                </div>
                <div class="info">
                    {% for key, value in ad_parameters.items %}
                    <div>
                        <span class="parameter">{{ key }}</span>
                        <span>{{ value }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="parameter-info">
                <div class="title-info">
                    <span>Фото</span>
                </div>
                <div>
                    {% for p in Photos %}
                        <img class="card-photo" src="{{ p.photo }}">
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container-comment">
            <div class="title-comment">
                <span>Комментарий продавца</span>
            </div>
            <span>{{ comment }}</span>
        </div>
    </div>
</div>