<div class="container-card">
    <div class="card">
        <div class="card-head">
            <div class="card-title">
                <span>BMW</span>     
                <span>M4</span>     
                <span>F82</span>     
            </div>
            <div class="card-title">
                <span>270 000 ₽</span>
            </div>
        </div>

        <div class="container-info">
            <div class="parameter-info">
                <div class="title-info">
                    <span>Характеристики</span>
                </div>
                <div class="info">
                    <div>
                        <span class="parameter">Двигатель</span>
                        <span id="engine">Бензин</span>
                    </div>
                    <div>
                        <span class="parameter">Нагнетатель</span>
                        <span id="boost">Турбированный</span>
                    </div>
                    <div>
                        <span class="parameter">Кузов</span>
                        <span id="body">Купе</span>
                    </div>
                    <div>
                        <span class="parameter">Привод</span>
                        <span id="drive">Задний</span>
                    </div>
                    <div>
                        <span class="parameter">Пробег</span>
                        <span id="mileage">270 000</span>
                    </div>
                </div>
            </div>
            <div class="parameter-info">
                <div class="title-info">
                    <span>Фото</span>
                </div>
            </div>
        </div>

        <div class="container-comment">
            <div class="title-comment">
                <span>Комментарий продавца</span>
            </div>
            <span>Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями. Коментарный коментарий про комментарий о комментарии с комментариями.</span>
        </div>
    </div>
</div>