<form method="post">
    {% csrf_token %}

    <div class="container-filter">

        <div class="grid-param">

            <select id="filter-brand" name="brand" class="filter-param">
                <option value=""><span class="any">Марка</span></option>
                {% for b in Brand %}
                    <option value="{{ b.pk }}">{{ b }}</option>
                {% endfor %}
            </select>

            <select id="filter-model" name="model" class="filter-param">
                <option value=""><span class="any">Модель</span></option>
                {% for m in Model %}
                    <option id="{{ m.brand_id }}" value="{{ m.pk }}">{{ m }}</option>
                {% endfor %}
            </select>

            <select id="filter-gen" name="generation" class="filter-param">
                <option value=""><span class="any">Поколение</span></option>
                {% for g in Generation %}
                    <option id="{{ g.model_id }}" value="{{ g.pk }}">{{ g }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="grid-param">
            <div class="filter-param-double">
                <select id="filter-engine" name="engine" class="param">
                    <option value=""><span class="any">Двигатель</span></option>
                    {% for e in EngineType %}
                        <option value="{{ e.pk }}">{{ e }}</option>
                    {% endfor %}
                </select>
                <select id="filter-boost" name="boost" class="param">
                    <option value=""><span class="any">Нагнетатель</span></option>
                    {% for b in BoostType %}
                        <option value="{{ b.pk }}">{{ b }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-param-double">
                <input type="text" name="capcty" maxlength="11" inputmode="numeric" id="filter-capcty" class="param" placeholder="Capacity from">
                <input type="text" name="capcty-to" maxlength="11" inputmode="numeric" id="filter-capcty-to" class="param double" placeholder="to">
            </div>
            <select id="filter-drive" name="drive" class="filter-param">
                <option value=""><span class="any">Привод</span></option>
                {% for d in Drive %}
                    <option value="{{ d.pk }}">{{ d }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="grid-param">
            <select id="filter-body" name="body" class="filter-param">
                <option value=""><span class="any">Кузов</span></option>
                {% for b in Body %}
                    <option value="{{ b.pk }}">{{ b }}</option>
                {% endfor %}
            </select>
            <div class="filter-param-double">
                <input type="text" name="mileage" maxlength="11" inputmode="numeric" id="filter-mileage" class="param" placeholder="Mileage from">
                <input type="text" name="mileage-to" maxlength="11" inputmode="numeric" id="filter-mileage-to" class="param double" placeholder="to">
            </div>
            <div class="filter-param-double">
                <input type="text" name="price" maxlength="11" inputmode="numeric" id="filter-price" class="param" placeholder="Price from">
                <input type="text" name="price-to" maxlength="11" inputmode="numeric" id="filter-price-to" class="param double" placeholder="to">
            </div>
        </div>

        <div class="grid-param">

            <select id="sort" name="sort" class="filter-param">
                <option value="pk"><span class="any">Сортировка</span></option>
                {% for key, value in sort_list.items %}
                    <option value="{{ value }}">{{ key }}</option>
                {% endfor %}
            </select>

            <input id="result" type="submit" value="Показать результаты">

        </div>

    </div>
</form>