* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'Arial', sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

a:active,
a:hover,
a {
    text-decoration: none;
}

/* header */

header {
    background-color: #7B68EE;
}

input {
    border: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.navbar-a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    transition: .4s;
}

.navbar-a:hover {
    font-size: 30px;
    transition: .4s;
}

.container-site {
    display: flex;
    align-items: center;
}

.site {
    display: flex;
    padding: 0 5px;
    width: 110px;
    font-size: 30px;
}

.container-titles {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-0 {
    margin: 0px 25px;
}

.title-1 {
    font-size: 30px;
}

.container-user {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
    width: 110px;
    font-size: 30px;
}

.color-gradient-header {
    height: 10px;
    background: linear-gradient(#7B68EE, #FFFFFF);
}

/* END header */

/* filter */

.container-filter {
    border: 1.5px darkslateblue solid;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    margin: 0 18%;
}

.grid-param {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter-param {
    display: flex;
    margin: 2px;
    padding: 3px 8px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
}

.filter-param-double {
    display: flex;
    margin: 2px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
}

.param {
    padding: 3px 8px;
    width: 50%;
    border-radius: 5px;
}

.any {
    color: #808080;
}

#filter-boost {
    border-left: 1.5px darkslateblue solid;
    border-radius: 0 5px 5px 0;
}

.double {
    border-left: 1.5px darkslateblue solid;
    border-radius: 0 5px 5px 0;
}

.param:focus {
     outline: none;
}

#result {
    padding: 3px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
    margin: 2px;
    padding: 3px 8px;
}

/* END filter */

/* ads */

.container-ads {
    margin: 25px 25%;
}

.ad {
    margin: 15px;
    padding: 5px;
    background-color: darkslateblue;
    color: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.photo-ad {
    width: 40%;
}

.parameters-ad {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.parameter-ad {
    margin: 2px;
    padding: 0 7px; 
    border: 1.5px aliceblue solid;
    border-radius: 5px;
}

#item-gen {
    border-radius: 5px 15px 5px 5px;
}

#item-price {
    color: darkslateblue;
    background-color: aliceblue;
    border-radius: 5px 5px 15px 5px;
}

/* END ad */

/* card */

.container-card {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 60%;
    margin: 15px;
    padding: 25px;
    border: 2.5px darkslateblue solid;
    border-radius: 10px;
}

.card-head {
    display: flex;
    justify-content: space-between;

    background-color: #82f5a8;
    border: 2.5px #16c751 solid;
    border-radius: 10px;
}

.card-title {
    margin: 20px;
}

.card-title > span {
    font-size: 30px;
    margin: 0 10px 0;
}

/* END card */

/* info */

.container-info {
    display: flex;
    flex-direction: row;
}

.parameter-info {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title-info {
    font-size: 25px;
    margin: 2% 0;
}

.info {
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
}

.parameter {
    display: inline-block;
    width: 40%;
}

.info > div {
    margin: 5px 0;
}

/* END info */

/* comment */

.title-comment {
    font-size: 25px;
    margin: 0 0 1% 0;
}

/* END comment */

/* footer */

footer {
    margin-top: auto;
    background-color: #7B68EE;
    min-height: 50px;
}

.color-gradient-footer {
    height: 10px;
    background: linear-gradient(#FFFFFF, #7B68EE);
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    color: #FFFFFF;
    font-size: 20px;
}

/* END footer */