* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:active,
a:hover,
a {
    text-decoration: none;
}

/* header */

header {
    background-color: #7B68EE;
}

input {
    border: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.navbar-a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    transition: .4s;
}

.navbar-a:hover {
    font-size: 30px;
    transition: .4s;
}

.container-site {
    display: flex;
    align-items: center;
}

.site {
    display: flex;
    padding: 0 5px;
    width: 110px;
    font-size: 30px;
}

.container-titles {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-0 {
    margin: 0px 25px;
}

.title-1 {
    font-size: 30px;
}

.container-user {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
    width: 110px;
    font-size: 30px;
}

.color-gradient-header {
    height: 10px;
    background: linear-gradient(#7B68EE, #FFFFFF);
}

/* END header */

/* footer */

footer {
    margin-top: auto;
    background-color: #7B68EE;
    min-height: 50px;
}

.color-gradient-footer {
    height: 10px;
    background: linear-gradient(#FFFFFF, #7B68EE);
}

.footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    color: #FFFFFF;
    font-size: 20px;
}

/* END footer */