/* filter */

.container-filter {
    border: 1.5px darkslateblue solid;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    margin: 0 18%;
}

.grid-param {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter-param {
    display: flex;
    margin: 2px;
    padding: 3px 8px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
}

.filter-param-double {
    display: flex;
    margin: 2px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
}

.param {
    padding: 3px 8px;
    width: 50%;
    border-radius: 5px;
}

.any {
    color: #808080;
}

#filter-boost {
    border-left: 1.5px darkslateblue solid;
    border-radius: 0 5px 5px 0;
}

.double {
    border-left: 1.5px darkslateblue solid;
    border-radius: 0 5px 5px 0;
}

.param:focus {
     outline: none;
}

#result {
    padding: 3px;
    border: 1.5px darkslateblue solid;
    border-radius: 5px;
    margin: 2px;
    padding: 3px 8px;
}

/* END filter */

/* ads */

.container-ads {
    margin: 25px 25%;
}

.ad {
    margin: 15px;
    padding: 5px;
    background-color: darkslateblue;
    color: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.parameters-ad {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.parameter-ad {
    margin: 2px;
    padding: 0 7px; 
    border: 1.5px aliceblue solid;
    border-radius: 5px;
}

#item-brand {
    border-radius: 15px 5px 5px 5px;
}

#item-body {
    border-radius: 5px 5px 5px 15px;
}

#item-gen {
    border-radius: 5px 15px 5px 5px;
}

#item-price {
    color: darkslateblue;
    background-color: aliceblue;
    border-radius: 5px 5px 15px 5px;
}

/* END ad */