<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Brichki.ru</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'brichki/css/base.css' %}" />
    </head>
    <body>
        <div class="header">
            <div class="container">
                <a class="item header-link" href="{% url 'ads:filter' %}">Brichki.ru</a>
                <a class="item header-link" href="{% url 'users:account' %}">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Войти
                    {% endif %}
                </a>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <span class="item">vladwgm@gmail.com</span>
        </div>
    </body>
</html>
