<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brichki.ru</title>

    {% block link %}
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div>
        <div class="navbar">
            <div class="container-site">
                <a class="site navbar-a" href="">brichki.ru</a>
                <a class="site navbar-a" href="">{{ user.username }}</a>
            </div>
            <div class="container-titles">
                <a class="title-0 navbar-a" href="{% url 'ADS:main_page' %}">{{ title_left }}</a>
                <span class="title-1 navbar-a">{{ title_center }}</span>
                <a class="title-0 navbar-a" href="">{{ title_right }}</a>
            </div>
            <div class="container-user">
                {% if user.is_authenticated %}
                    <a class="user navbar-a" href="{% url 'USERS:logout' %}">logout</a>
                {% else %}
                    <a class="user navbar-a" href="{% url 'USERS:login' %}">login</a>
                    <a class="user navbar-a" href="{% url 'USERS:register' %}">register</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="color-gradient-header"></div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="color-gradient-footer"></div>
    <div class="footer">
        <p class="email">vladwgm@gmail.com</p>
    </div>
</footer>

</body>
</html>