* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

input {
    width: 55%;
}

.general {
    background-color: aquamarine;
    width: 450px;
    height: auto;
    margin: 85px auto;
    padding: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.title-user {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-user-data {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.item-user {
    background-color: chartreuse;
    width: 350px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.button-sign-in-out {
    background-color: lightgreen;
    margin: 20px 0 0 0;
    padding: 3px;
    border: 0.5px solid black;
    border-radius: 5px;
}

.button-registration {
    background-color: cornflowerblue;
    margin: 50px 0 0 0;
    padding: 3px;
    border: 0.5px solid black;
    border-radius: 5px;
}

/* account */

.item-account {
    width: 370px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.item-account span {
    width: 40%;
    text-align: left;
}

/* END account */