<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base.html</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "brichki/css/base_style.css" %}'/>
</head>
<body>

<header>
    <div class="m-color">
        <div>
            <div>brichki.ru</div>
            <div>
                <div>filter</div>
                <div>user</div>
                <div>catalog</div>
            </div>
            <div>user</div>
        </div>
    </div>
    <div></div>
    <div></div>
</header>

<div></div>

<footer>
    <div>email</div>
</footer>

</body>
</html>