{% extends 'brichki/base.html' %}


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'ads/css/filter.css' %}" />



<div class="filter box">
    <form method="get">
        {% csrf_token %}
        {{ form }}
        <div class="container-button">
            <button type="submit" class="filter-button">Искать</button>
        </div>
    </form>
</div>

{% for ad in ads %}

<a class="ad-link" href="{% url 'ads:ad' pk=ad.pk %}">
    <div class="ad">
        <div class="container">
            <div class="ad-photo box">photo</div>
            <div class="ad-container">
                <div class="ad-row">
                    <span class="ad-item">{{ ad.brand }}</span>
                    <span class="ad-item">{{ ad.model }}</span>
                    <span class="ad-item">{{ ad.generation }}</span>
                </div>
                <div class="ad-row">
                    <span class="ad-item">{{ ad.engine_type }}</span>
                    <span class="ad-item">{{ ad.boost_type }}</span>
                    <span class="ad-item">{{ ad.drive }}</span>
                </div>
                <div class="ad-row">
                    <span class="ad-item">{{ ad.body }}</span>
                    <span class="ad-item">{{ ad.mileage }}</span>
                    <span class="ad-item">{{ ad.price }}</span>
                </div>
            </div>
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}